
//-	mixin for generic button
mixin btn(title, url)
	a(href=url, class="btn")&attributes(attributes)= title

//- mixin for btn with alt theme
mixin btn-1(title, url)
	a(href=url, class="btn btn-theme-1")&attributes(attributes)= title
	
//- mixin for carousel container
mixin carousel(options)
	div(class="carousel-container-wrap")
		div.bx-loading-el-wrap
			div.bx-loading-el
		div(class="carousel-container", data-carousel=options)&attributes(attributes)
			if block
				block

//- mixin for carousel slide
mixin carousel-slide(imageURL)
	div(class="carousel-slide", style="background-image: url(#{imageURL})")&attributes(attributes)
		if block
			div(class="carousel-slide-caption")
				block

//- variable for page names and file names
-
	pages = [
		{
			name: 'Home',
			url: '/'
		},
		{
			name: 'Club Info',
			url: 'club-info.html'
		},
		{
			name: 'News',
			url: 'news.html'
		},
		{
			name: 'Fixture & Results',
			url: 'fixtures-results.html'
		},
		{
			name: 'Noticeboard',
			url: 'noticeboard.html'
		},
		{
			name: 'Teams',
			url: 'teams.html'
		},
		{
			name: 'Sponsors',
			url: 'sponsors.html'
		},
		{
			name: 'Merchandise',
			url: 'merchandise.html'
		}
	]

//- mixin for primary navigation with paramater for active class
mixin navPrimary(active)
	nav.primary-nav#primary-nav
		ul
			each val, index in pages
				li(class=(active === index ? 'active' : ''))
					a(href="#{val.url}")
						span.link-wrap #{val.name}