
//-	mixin for generic button
mixin btn(title, url)
	a(href=url, class="btn")&attributes(attributes)= title

//- mixin for btn with alt theme
mixin btn-1(title, url)
	a(href=url, class="btn btn-theme-1")&attributes(attributes)= title
	
//- mixin for carousel container
mixin carousel(options)
	div(class="carousel-container-wrap")
		div.bx-loading-el-wrap
			div.bx-loading-el
		div(class="carousel-container", data-carousel=options)&attributes(attributes)
			if block
				block

//- mixin for carousel slide
mixin carousel-slide(imageURL)
	div(class="carousel-slide", style="background-image: url(#{imageURL})")&attributes(attributes)
		if block
			div(class="carousel-slide-caption")
				block

//- variable for page names and file names
-
	pages = [
		{
			name: 'Home',
			url: 'index.html'
		},
		{
			name: 'Club Info',
			url: 'club-info.html'
		},
		{
			name: 'News',
			url: 'news.html'
		},
		{
			name: 'Fixture & Results',
			url: 'fixtures-results.html'
		},
		{
			name: 'Noticeboard',
			url: 'noticeboard.html'
		},
		{
			name: 'Teams',
			url: 'teams.html'
		},
		{
			name: 'Sponsors',
			url: 'sponsors.html'
		},
		{
			name: 'Merchandise',
			url: 'merchandise.html'
		}
	]

//- mixin for primary navigation with paramater for active class
mixin navPrimary(active)
	nav.primary-nav#primary-nav
		ul
			each val, index in pages
				li(class=(active === index ? 'active' : ''))
					a(href="#{val.url}")
						span.link-wrap #{val.name}

mixin resultRow(date, time, homeLogo, homeName, homeScore, awayScore, awayName, awayLogo, ctaLink)
	.fixtures-list_row
		.col.col-when
			span.col-when_date #{date}
			span.col-when_time #{time}
		.col.col-match
			.col.col-team.-home
				span.col-team_crest
					img(src='images/logo/#{homeLogo}')
				span.home-team #{homeName}
			.col.col-scores
				span.score.-home #{homeScore}
				span.separator -
				span.score.-away #{awayScore}
			.col.col-team.-away
				span.away-team #{awayName}
				span.col-team_crest
					img(src='images/logo/#{awayLogo}')
		.col.col-ctas
			a(href='#{ctaLink}').cta Match Report

mixin fixtureRow(date, time, homeLogo, homeName, awayName, awayLogo, ctaLink)
	.fixtures-list_row
		.col.col-when
			span.col-when_date #{date}
			span.col-when_time #{time}
		.col.col-match
			.col.col-team.-home
				span.col-team_crest
					img(src='images/logo/#{homeLogo}')
				span.home-team #{homeName}
			.col.col-versus Vs
			.col.col-team.-away
				span.away-team #{awayName}
				span.col-team_crest
					img(src='images/logo/#{awayLogo}')
		.col.col-ctas
			a(href='#{ctaLink}').cta Match Report